.btn {
  background-color: rgb(43, 42, 42);
  color: whitesmoke;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
}

.btn:after {
  content:'';
  position:absolute;
  left:0;
  bottom:-10px;
  right:0;
  border-bottom:1px rgb(43, 40, 40) solid;
  transition:.5s
}

.btn:hover:after{
  bottom:0;
  transition:.5s
}

.text-uppercase h4{

}
